@use '../../../../assets/styles/base/color' as colors;

header {
    display: grid;
     grid-template-columns:repeat(3,1fr);
     background-color:colors.$bg-primary-light;
     height:80px;
<<<<<<< HEAD

     .logo-cont {
      display: flex;
      align-items: center;
      .logo{
        padding: 0px;
        font-size:2rem;
        color:colors.$brand-primary;
        font-weight: bold;
        width: 100px;
        height: 50px;
        object-fit: contain;
        border: 2px solid green;
     }
     }  
     .nav-cont {
      border: 1px solid red;
     } 
     .btn-cont {
=======
     border: 2px solid yellow;
     div {
        .logo{
         padding: 0px;
         margin:auto;
         font-size:2rem;
         color:colors.$brand-primary;
         font-weight: bold;
         width: 100px;
         height: 50px;
         object-fit: contain;
      }
     }
     div:nth-child(-n+3){
>>>>>>> 1f5d00732db353d28731cae125b2846a3f9cc2e7
      display: flex;
      align-items: center;
     }
}

nav{
   background-color: initial;
 }
 ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
  display:flex;
  justify-content:center;
  li {
    display:inline-block;
    padding:15px 10px;
    margin: 10px 15px;
    a{
      text-decoration: none;
      font-weight:500;
      color:colors.$nav-text;
    }
    a:hover{
      color:colors.$nav-text-hover;
    }
    a:active{
      color: colors.$nav-text-active;
    }
  }

}


<<<<<<< HEAD
//
@media (max-width:992px){
  header {
    display: grid;
    grid-template-columns:repeat(2,1fr);
  }
   .nav-cont{
    border: 2px solid red;
    display:none!important; 
  }
=======
//RESPONSIVE DESIGN 
@media (max-width:500px){
  
>>>>>>> 1f5d00732db353d28731cae125b2846a3f9cc2e7
}
