@use '../../../../assets/styles/base/color' as colors;

header {
    display: grid;
     grid-template-columns:repeat(3,1fr);
     background-color:colors.$bg-primary-light;
     height:80px;

     .logo-cont {
      display: flex;
      align-items: center;
      .logo{
        padding: 0px;
        font-size:2rem;
        color:colors.$brand-primary;
        font-weight: bold;
        width: 100px;
        height: 50px;
        object-fit: contain;
        border: 2px solid green;
     }
     }  
     .nav-cont {
      border: 1px solid red;
     } 
     .btn-cont {
      display: flex;
      align-items: center;
     }
}

nav{
   background-color: initial;
 }
 ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
  display:flex;
  justify-content:center;
  li {
    display:inline-block;
    padding:15px 10px;
    margin: 10px 15px;
    a{
      text-decoration: none;
      font-weight:500;
      color:colors.$nav-text;
    }
    a:hover{
      color:colors.$nav-text-hover;
    }
    a:active{
      color: colors.$nav-text-active;
    }
  }

}


//
@media (max-width:992px){
  header {
    display: grid;
    grid-template-columns:repeat(2,1fr);
  }
   .nav-cont{
    border: 2px solid red;
    display:none!important; 
  }
}
