<header>
        <div>
           
            <img class="logo" src="https://i.pinimg.com/736x/31/14/5e/31145e7925e59e8fb344f13422435dba.jpg"  alt="lgo">
        </div>
        <div>
            <nav>
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Pricing</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
     
        </div>
        <div>
         <app-primary-default-only-text routerLink="/login"  [text]="'Login'"></app-primary-default-only-text>
         <app-btn-secondary-default-text [text]="'Signup'"></app-btn-secondary-default-text>
        </div>
    
</header>
