@use '../../../../assets/styles/base/color' as colors;
@use '../../../../assets/styles/base/typography' as type;

.hero{
    width: 100%;
    height:calc(100vh - 80px);
    background-color:colors.$bg-secondary-ligth;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    > div {
        width: fit-content;
        padding: 10px;
        text-align: center;
    }
    h1{
        color:colors.$text-color-primary-light;
        font-size:type.$font-size-7xl;
        line-height: type.$line-height-lg;
        margin:15px auto;
        span {
            // color:colors.$neutral-dark;
            // border:3px solid colors.$neutral-dark;
            // padding:2px 4px;
            // text-transform: capitalize;
            // border-radius: 5px;
        }
    }
    p {
        font-size:type.$font-size-xl;
        color: colors.$text-color-secondary-light;
        margin: 5px 20px;
    }
}


@media(max-width:992px){
    h1 {
        font-size:type.$font-size-2xl!important;
        color: red!important;
        line-height: type.$line-height-2xs!important;
    }
}