<div class="sidenav" [style.width]="this.sideNavService.sideNavWidth">
    <div class="logo-container">
        <a routerLink="/" [style.display]="!this.sideNavService.collapse() ? 'block' : 'none' "> <img  class="logo" src="https://i.pinimg.com/736x/31/14/5e/31145e7925e59e8fb344f13422435dba.jpg"  alt="lgo"></a>
        @if(this.sideNavService.collapse()){
          <i (click)="collapseMenu()" class='bx bx-chevrons-right'></i>
        }@else {
          <i (click)="collapseMenu()" class='bx bx-chevrons-left'></i>
        }
      </div>

      <ul>
        @for (item of items; track $index;let id = $index) {
            <li [class]="item.label == 'logout' ? 'logout-btn' : ''" (click)="checkIsActive(id)" ><a [class]="item.isActive ?  'active' :''" ><i  class={{item.icon}}></i><span [style.display]="this.sideNavService.collapse() ? 'none' : 'block'">{{item.label}}</span></a></li>
        }
      </ul>

      
    
</div>
