<div class="modal-container">
    <div class="header">
        <h3>Add new task</h3>
        <i class='bx bx-x' (click)="close.emit()"></i>
    </div>
    <div class="content">
        <div class="form-group">
            <input placeholder="Title" class="title" required="required" [(ngModel)]="title" type="text" #titleV="ngModel" name="title">
            
            <div *ngIf="titleV.invalid && (titleV.dirty || titleV.touched)" >
                <span *ngIf="titleV.hasError('required')" class="alert">
                  Title is required !
                </span>
             </div>
        </div>
    
        <div class="form-group">
            <textarea placeholder="Description" class="description" required="required" [(ngModel)]="description" rows="4" #descriptionV="ngModel" type="text" name="description"></textarea>
           <div *ngIf="descriptionV.invalid && (descriptionV.dirty || descriptionV.touched)" >
              <span *ngIf="descriptionV.hasError('required')" class="alert">
                Description is required !
              </span>
           </div>
        </div>

        

        <div class="select-date">
            <div class="start-date">
                <label for="appt">Select start date</label>
                <input type="datetime-local" [(ngModel)]="start_date" id="appt"  placeholder="hh/mm/ss" name="appt">
            </div>
            <div class="end-date">
                <label for="appt">Select end date</label>
                <input type="datetime-local" id="appt" [(ngModel)]="end_date"   name="appt">
            </div>
        </div>
    
        <div class="btn-group">
            <select name="" id="" [(ngModel)]="priority">
                <option value="priority"  selected>Priority</option>
                <option value="high">High</option>
                <option value="medium">Medium</option>
                <option value="low">Low</option>
            </select>
            <select name="" id="" [(ngModel)]="remainder">
                <option value="remainder"  selected>Remainder</option>
                <option value="true">True</option>
                <option value="false">False</option>
               
            </select>
        </div>
    </div>
    <div class="footer">
  
        <button class="submit" (click)="submitForm()">Submit</button>
        <button class="cancle" (click)="close.emit()">Cancle</button>
    </div>

</div>
