<div class="modal-container">
    <div class="header">
        <h3>Add task</h3>
    </div>
    <div class="content">
        <div class="from-group">
            <label for="name"></label>
            <input type="text" name="name">
        </div>
    
        <div class="from-group">
            <label for="name"></label>
            <input type="text" name="name">
        </div>
    
        <div class="from-group">
            <label for="name"></label>
            <input type="text" name="name">
        </div>
    </div>
    <div class="footer"></div>

</div>
