@use '../../../assets/styles/base/color' as colors;
@use '../../../assets/styles/base/typography' as types;

:host{
    transition:all 5s ease-in;
}

.modal-container {
    width:400px;
    height:fit-content;
    background-color:colors.$bg-tertiary-light;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    padding:10px 20px;
    z-index: 1000;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin: 10px auto;
    i {
        cursor: pointer;
        font-size: types.$font-size-md;
        border-radius: 5px;
        padding: 5px;
        transition: .3s;
    }
    i:hover {
        background-color: colors.$bg-neutral-secondary-light;
       
    }
    h3 {
        margin-bottom:8px;
        color: colors.$bg-neutral-primary-dark;
        font-size: types.$font-size-sm;

    }
}
.title {
    padding:5px;
}
.form-group {
    margin-bottom:6px;
}
input {
    height:40px;
}
input,textarea {
    width: 100%;
    outline:none;
    border: none;
    border-radius: 2px;
    font-size:types.$font-size-sm;
    resize: none;
    padding: 10px;
    letter-spacing:1px;
    font-family: "Roboto Slab", serif;
    color: colors.$text-color-tertiary-light!important;
}
.footer {
    display: flex;
    justify-content: flex-end;

}
.btn-group {
    margin-bottom: 18px;
}
.submit,.cancle {
    padding: 10px 15px;
    margin: 0px 5px;
    border: none;    
    border-radius: 5px;
    cursor: pointer;
    font-size: types.$font-size-sm;
    border: 1px solid colors.$brand-primary;
}
.submit {
    background-color: colors.$brand-secondary;
}
.btn-outline {
    padding:5px 10px;
    margin: auto 5px;
    border: 2px solid colors.$bg-neutral-primary-light;
    border-radius: 10px;
    font-size: types.$font-size-xs;
    cursor: pointer;
}
.alert {
    color: colors.$text-danger-primary-light;
    font-size: types.$font-size-xs;
    font-weight:types.$font-weight-light;
}

